<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    <h1>Patika Dev</h1>
    <p id="roomid"><%= roomid %></p>
    <div class="container">
      <div id="videoplayer"></div>
      <button id="share">Arkadaşınla videoyu paylaş</button>
      <button id="pause">Videoyu durdur</button>
      <button id="play">Devam ettir</button>
    </div>

    <div id="vids">
      <div id="wrapper">
        <video
          id="myvideo"
          muted="muted"
          style="background-color: yellow"
        ></video>
        <div id="videoGrid"></div>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/clientsocket.js"></script>
    <script src="/static/video.js"></script>
  </body>
</html>
